.confirmApply {
  display: block;
  position: initial;
}

.confirmApply .banner {
  font-size: 0.45333rem;
}

.confirmApply .formContainer {
  padding-top: 0.4rem;
}

.confirmApply .formContainer .pEndTime {
  width: 47.5%;
  display: inline-block;
}
