<div class="container" style="height: 100%;">
  <div class="row"></div>
  <div class="row">
    <div class="col-xs-2" style="height: 100%;" >
      <div style="margin-top: 5px;margin-left: 5px; height:70%;width: 80%; background-image: url('../../assets/images/phone.png');background-size: 100% 100%;">
      </div>
    </div>
    <div class="col-xs-2"  style="height: 100%;line-height:50px;font-size: 13pt;">卡号</div>
    <div class="col-xs-8 "  style="height: 100%;">
        <input type="number" style="padding: 5px;height: 50%;width: 90%; margin-top: 11px;border: 0;border-bottom: 1px solid #999;outline: none;font-size: 13pt;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 "   style="height: 100%;">
        <div style="margin-top: 8px;margin-left: 10px; height:60%;width: 60%; background-image: url('../../assets/images/user.png');background-size: 100% 100%;">
        </div>
    </div>
    <div class="col-xs-2 "  style="height: 100%;line-height:50px;font-size: 13pt;">姓名</div>
    <div class="col-xs-8 "   style="height: 100%;">
        <input type="text" style="padding: 5px; height: 50%;width: 90%; margin-top: 11px;border: 0;border-bottom: 1px solid #999;outline: none;font-size: 13pt;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2" style="height: 100%;">
        <div style="margin-top: 8px;margin-left: 10px; height:60%;width: 60%; background-image: url('../../assets/images/czje.png');background-size: 100% 100%;">
        </div>
    </div>
    <div class="col-xs-9"  style="height: 100%;line-height:50px;font-size: 13pt;">充值金额：</div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <img src="{{MONEY_STATUS_Select==='50_1'?'../../assets/images/50_moneys.jpg':'../../assets/images/50_money.jpg'}}" (click)="select_money('50');" class="topup_money" alt="">
    </div>
    <div class="col-xs-3">
        <img src="{{MONEY_STATUS_Select==='100_1'?'../../assets/images/100_moneys.jpg':'../../assets/images/100_money.jpg'}}" (click)="select_money('100');" class="topup_money" alt="">
    </div>
    <div class="col-xs-3">
        <img src="{{MONEY_STATUS_Select==='200_1'?'../../assets/images/200_moneys.jpg':'../../assets/images/200_money.jpg'}}" (click)="select_money('200');" class="topup_money" alt="">
    </div>
    <div class="col-xs-3">
        <img src="{{MONEY_STATUS_Select==='500_1'?'../../assets/images/500_moneys.jpg':'../../assets/images/500_money.jpg'}}" (click)="select_money('500');" class="topup_money" alt="">
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-xs-5" style="font-size: 12pt;line-height: 50px;">请选择支付方式：</div>
    <div class="col-xs-7"  style="height: 100%;">
      <img (click)="payment(0);" src="{{PAYMENT_STATUS===0?'../../assets/images/alipay.png':'../../assets/images/alipays.png'}}" style="margin-top: 10px; width: 20%;height: 60%;" alt="">
      <img (click)="payment(1);" src="{{PAYMENT_STATUS===0?'../../assets/images/wechats.png':'../../assets/images/wechat.png'}}" style="margin-top: 10px;margin-left:10px;  width: 20%;height:60%;" alt="">
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <button id="btnTopUp" type="button" >充值</button>
  </div>

</div>