<link rel="stylesheet" href="./css/home.css">
<div class="h-nav">
    <div class="h-nav-btn">
        <div class="h-nav-list" ng-click="active(0)" ><span ng-class="{true:'active_nav'}[active_nav ===0]">我的组织</span></div>
        <div class="h-nav-list" ng-click="active(1)" ><span ng-class="{true:'active_nav'}[active_nav ===1]">个人加入</span></div>
    </div>
    <ul class="h-nav-ul" ng-if="active_nav ===0" >
        <li  class="h-nav-li" ng-repeat="hd in header" ng-bind="hd.rolename" ng-class="{active_nav_li:$index == active_num}" ng-click="hdactive($index)">

        </li>
    </ul>
    <ul class="h-nav-ul" ng-if="active_nav ===1">
        <li  class="h-nav-li" ng-repeat="list in myadd" ng-bind="list.rolename" ng-class="{active_nav_li:$index == active_num}" ng-click="myuserfun(list,$index)">

        </li>
    </ul>
</div>
<div class="h-content">
    <div class="module-block-list" ng-repeat="dm in vip_module2|vipOkMod">
        <div class="module-class mfnt{{($index%3)+1}}">
           <span class="module-class-up"></span>
            {{dm.m_name}}
            <!--{{dm.name}}-->
        </div>
        <div class="module-class-lists">
            <a  id="{{dmc.id}}" href="{{dmc.url}}" ng-repeat="dmc in dm.child|filter:{isChoice:true}">
                <dl >
                    <dt><img src="{{dmc.pic}}" /></dt>
                    <dd>{{dmc.name}}</dd>
                </dl>
            </a>
        </div>
    </div>

    <!-- <div class="module-block-list" ng-repeat="dm in vip_module|vipOkMod">
        <div class="module-class mfnt{{($index%3)+1}}">
           <span class="module-class-up"></span>
            {{dm.m_name}}
        </div>
        <div class="module-class-lists">
            <a  id="{{dmc.addId}}" href="{{dmc.url}}" ng-repeat="dmc in dm.child|filter:{isChoice:true}">
                <dl >
                    <dt><img src="{{dmc.pic}}" /></dt>
                    <dd>{{dmc.name}}</dd>
                </dl>
            </a>
        </div>
    </div> -->
    <div class="module-block-list" style="border-bottom: none;">
        <div class="module-class" style="height: 1px;"></div>
        <div class="module-class-lists">
            <dl>
                <a href="../mall">
                    <dt><img src="./img/u72.png"></dt>
                    <dd>开通更多服务</dd>
                </a>
            </dl>
        </div>
    </div>
</div>
<!--<div class="open-dig" ng-show="show_more_module">-->
    <!--<div class="open-content">-->
        <!--<div class="open-head">设置快捷菜单<span class="open-top-cls" ng-click="showMoreModule()">x</span></div>-->
        <!--<div class="open-con">-->
            <!--<div class="vip_module">-->
                <!--<h2>开通服务5656</h2>-->
                <!--<div class="vip_module_con" ng-repeat="m in vip_module">-->
                    <!--<h3>{{m.m_name}}</h3>-->
                    <!--<dl class="functional_module" ng-repeat="mc in m.child">-->
                        <!--<dt><img src="{{mc.pic}}" /></dt>-->
                        <!--<dd><input type="checkbox" ng-checked="mc.isChoice" ng-click="setVipModule(mc.nodeID,$event)">{{mc.name}}</dd>-->
                    <!--</dl>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="open-bot">-->
                <!--<span class="open-bot-sub" ng-click="saveVipSet()">保存设置</span>-->
            <!--</div>-->
            <!--<div class="other_module">-->
                <!--<h2>应用模块</h2>-->
                <!--<dl class="functional_module" ng-repeat="mo in other_module">-->
                    <!--<dt><img src="{{mo.pic}}" /></dt>-->
                    <!--<dd>{{mo.name}}</dd>-->
                    <!--<dd><a href="">演示</a><a href="">购买</a></dd>-->
                <!--</dl>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="open-bot">-->
            <!--<span class="open-bot-sub">确定</span>-->
            <!--<span class="open-bot-cls">取消</span>-->
        <!--</div>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<script src="../public/config.js"></script>
<script type="text/javascript">


	$(function(){
		$("body").on("click","#19",function(e){
			// 工作流程
			var user=localStorage.getItem("user");
				if(user!=null){
				user=JSON.parse(user);
				var id=user.id;
				var name=user.username;
				}
				
				if(user!=null){
				// $("#19").attr("href",repid_dev_root_url + "/rapid_dev/toActivitiIndex.do?id="+id+"&name="+name);
				$("#19").attr("href",liuCheng_root_url + "/rapid_dev/toActivitiIndex.do?id="+id+"&name="+name);
				}else{
					e.preventDefault();
					window.location.href="../login2/index.html";
				}
		});
	});

    $(document).on('click','.module-class-up',function () {
        var d=$(this).closest('.module-block-list');
        if(d.height()<15){
            d.css("height","auto");
        }else{
            d.height(8);
        }
    })
    window.addEventListener("resize", function () {
        setSize();
    }, false);
    function setSize(){
        var w=$('.module-block-list').width();
        $('.module-class-lists').width(w-48);
    }

    setSize();
	
		
		
		
		

</script> 