<script src="../js/template.js"></script>
<script src="../js/httpData.all.js"></script>

<link rel="stylesheet" href="../css/thirdCSS/bootstrap.css">
<script src="../js/thirdJS/jquery.js"></script>
<script src="../js/thirdJS/bootstrap.js"></script>


<script src="../js/task_Info.js"></script>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    #ul>li {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12pt;
    }
    .col-xs-4 {
        text-align: right
    }
    .bdcolor_red{
        background-color: red;
    }
    /* #progress{
        animation: progress_background 3s;
        -moz-animation: progress_background 3s;
        -webkit-animation: progress_background 3s;
        -o-animation: progress_background 3s;
    } */
    /* @keyframes progress_background{
        50% {background-color: rgb(255, 0, 0);}
        100% {background-color: #428bca;}
    } */
</style>
<form action="" class="bs-example bs-example-form" role="form">
    <ul id="ul" style="padding-left:10px;padding-right:10px; width: 98%;height: 100%;list-style: none;">
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">任务名称</div>
                    <div class="col-xs-8">
                        <div class="input-group" style="width: 100%;">
                            <input type="text" class="form-control" style="width: 100%;" id="taskName" maxlength="20" placeholder="请输入任务名称">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">负责人</div>
                    <div class="col-xs-8">
                        <select id="sel_prin" style="width: 100%;height: 30px;">
                            <option value="0">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">协作人</div>
                    <div class="col-xs-8">
                        <div style="width: 100%;" class="btn-group">
                            <button style="width: 100%;overflow:hidden;text-overflow: ellipsis;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="selVal" data-selval="">请选择</span>
                                <span class="caret"></span>
                            </button>
                            <ul id="selUser" style="width: 100%;padding-left:10px;padding-right:10px;" class="dropdown-menu"  role="menu">
                                <!-- <li>
                                    <input name="user" type="checkbox" data-value="0" data-name="测试4">测试4
                                </li>
                                <li>
                                    <input name="user"  type="checkbox" data-value="1" data-name="测试3">测试3
                                </li>
                                <li>
                                    <input name="user"  type="checkbox" data-value="2" data-name="测试2">测试2
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">设置完成度</div>
                    <div class="col-xs-8">
                        <div class="progress">
                            <div id="progress" class="progress-bar" role="presentation" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="transition: width 3s;"></div>
                        </div>
                        <div class="input-group" style="width: 100%">
                            <input id="completeSet" class="form-control" value="" style="width: 100%;" type="number" maxlength="3" placeholder="请输入1~100中的任何数字">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">紧急程度</div>
                    <div class="col-xs-8">
                        <input checked name="urgency" data-value="0" type="radio" >一般
                        <input name="urgency" data-value="1" type="radio">紧急
                        <input name="urgency" data-value="2" type="radio">特急
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">任务详情</div>
                    <div class="col-xs-8">
                        <textarea name="task_Info" id="task_Info" style="width: 100%;height: 150px;"></textarea>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">上传附件</div>
                    <div class="col-xs-8">
                        <input style="outline:none; border: 0;width: 100%;" id="btnUpfile" type="file" value="请选择上传文件">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">添加子任务</div>
                    <div class="col-xs-8">功能尚未开通</div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">开始日期</div>
                    <div class="col-xs-8">
                        <input id="startDate" type="date" value="" style="width: 100%;height: 30px;">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">结束日期</div>
                    <div class="col-xs-8">
                        <input id="endDate" type="date" value="" style="width: 100%;height: 30px;">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">共享人</div>
                    <div class="col-xs-8">
                        <div style="width: 100%;" class="btn-group">
                            <button style="width: 100%;overflow:hidden;text-overflow: ellipsis;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="sel_cooperaUser" data-selval="">请选择</span>
                                <span class="caret"></span>
                            </button>
                            <ul id="selUser1" style="width: 100%;padding-left:10px;padding-right:10px;" class="dropdown-menu"  role="menu">
                                <!-- <li>
                                    <input name="cooperaUser" type="checkbox" data-value="0" data-name="测试4">测试4
                                </li>
                                <li>
                                    <input name="cooperaUser"  type="checkbox" data-value="1" data-name="测试3">测试3
                                </li>
                                <li>
                                    <input name="cooperaUser"  type="checkbox" data-value="2" data-name="测试2">测试2
                                </li> -->
                            </ul>
                        </div>
                        <!-- <select id="sel_cooperaUser" style="width: 100%;height: 30px;">
                            <option value="0">请选择</option>
                        </select> -->
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">选择编辑人</div>
                    <div class="col-xs-8">
                        <div style="width: 100%;" class="btn-group">
                            <button style="width: 100%;overflow:hidden;text-overflow: ellipsis;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span id="sel_editorUser" data-selval="">请选择</span>
                                <span class="caret"></span>
                            </button>
                            <ul id="selUser2" style="width: 100%;padding-left:10px;padding-right:10px;" class="dropdown-menu"  role="menu">
                                <!-- <li>
                                    <input name="editorUser" type="checkbox" data-value="0" data-name="测试4">测试4
                                </li>
                                <li>
                                    <input name="editorUser"  type="checkbox" data-value="1" data-name="测试3">测试3
                                </li>
                                <li>
                                    <input name="editorUser"  type="checkbox" data-value="2" data-name="测试2">测试2
                                </li> -->
                            </ul>
                        </div>
                        <!-- <select id="sel_editorUser" style="width: 100%;height: 30px;">
                            <option value="0">请选择</option>
                        </select> -->
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="contrainer">
                <div class="row">
                    <div class="col-xs-4">标记状态</div>
                    <div class="col-xs-8">
                        <input checked name="status" type="radio" value="1"><span id="status_1">计划</span>
                        <input name="status" type="radio" value="2"><span id="status_2">筹备</span>
                        <input name="status" type="radio" value="3"><span id="status_3">进行中</span>
                        <input name="status" type="radio" value="4"><span id="status_4">完成</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</form>