    <link href="/lecture/css/list.css" rel="stylesheet">
<!-- //遮罩层 -->
<div class="shade"></div>
<!-- //老师所在班级 -->
<div id="teacher-class">
	<ul>
		<li class="teacher-class-sele">七年级(1)班语文</li>
		<li class="teacher-class-sele">八年级(2)班历史</li>
		<li class="teacher-class-sele">八年级(1)班数学</li>
	</ul>
</div>
<!-- //删除课件层 -->
<div class="dele-class">
	<div class="dele-class-p">删除备课课件</div>
	<div class="dele-class-span">你确定删除该课课件吗</div>
	<div class="dele-class-btn-box">
		<button class="dele-class-sbtn  dele-class-btn">确认</button>
		<button class="dele-class-qbtn dele-class-btn">取消</button>
	</div>
</div>
	<!-- 头部 -->
	<div class="header">
		<div class="head-l"><span class="header-exit header-lin" onclick="javascript:window.location.href='/study/#!/index';"><</span></div>
		<div class="head-c"><span class="header-bk header-lin">讲堂</span></div>
	</div>
	<!-- 导航 -->
	<div class="baner">
		<div class="ban-l">
			<ul>
				<li class="ban-bk{{classification==0?' ban-mk':''}}" ng-click="setBkType(0)">我的备课</li>
				<li class="ban-bk ban-ck{{classification==2?' ban-mk':''}}" ng-click="setBkType(2)">本校</li>
			</ul>
		</div>
		<div class="ban-r">
			<img src="img/public/icon_dizhi.png">
			<span ng-click="openTeachingMmaterial()">{{cur_teaching.school_period_name}}{{cur_teaching.subject_name}}{{cur_teaching.semester_name}}</span>
			<!--切换教材-->
			<div id="bk_sw_material">
				<div class="p_sw_material_block">
					<h2>校段</h2>
					<ul>
						<li><div ng-repeat="c in school_period" class="{{gcss[$index%3]}}"><span ng-click="setSchoolPeriod(c.id,c.name)" ng-class="(c.id==tmp.school_period_id)?'pc_list_act':''">{{c.name}}</span></div></li>
					</ul>
				</div>
				<div class="p_sw_material_block">
					<h2>科目</h2>
					<ul>
						<li><div ng-repeat="s in subject" class="{{gcss[$index%3]}}"><span ng-click="setSubject(s.id,s.key,s.value)" ng-class="(s.id==tmp.subject_id)?'pc_list_act':''">{{s.value}}</span></div></li>
					</ul>
				</div>
				<div class="p_sw_material_block">
					<h2>版本</h2>
					<ul>
						<li><div ng-repeat="v in version" class="{{gcss[$index%3]}}"><span ng-click="setVersion(v.id,v.key,v.title)" ng-class="(v.id==tmp.version_id)?'pc_list_act':''">{{v.value}}</span></div></li>
					</ul>
				</div>
				<div class="p_sw_material_block">
					<h2>册数</h2>
					<ul>
						<li><div ng-repeat="t in semester" class="{{gcss[$index%3]}}"><span ng-click="setSemester(t.id,t.key,t.value)" ng-class="(t.id==tmp.semester_id)?'pc_list_act':''">{{t.value}}</span></div></li>
					</ul>
				</div>
				<div class="bk_sw_submit" ng-click="updataSection()">确定</div>
			</div>
		</div>
	</div>
	<!-- 主体 -->
	<div class="main" ng-show="classification==0">
		<div class="main-l">
			<div id="tree">
			</div>
		</div>
		<div class="main-r">
			 <div class="main-r-content main-r-ct" ng-repeat="ls in list1">
				<div class="main-r-c-a"><span>{{ls.fileTitle}}</span><!--<span class="lecture-btn" ng-click="">上课</span>--><a target="_blank" href="/lecture/lecture.html" class="btn btn-primary btn-xs" style="margin-left: 5px;" ><!--ng-click="goLecture(ls.fileList[0].fileId)"-->上课</a></div>
				<div class="main-r-time">作者：kenzo &nbsp;&nbsp;&nbsp;备课时间：{{ls.createTime|date:'yyyy-MM-dd HH:mm:ss'}} </div>
			</div>
		</div>
	</div>
	<!-- 本校备课 -->
	<div class="bx-main" style="position:absolute;" ng-show="classification==2">
		<div class="bx-main-l">
			<div id="tree2">
			</div>
		</div>
		<div class="bx-main-r">
			<!-- 老师所在班级 -->
			<div class="main-r-content main-r-ct" ng-repeat="ls in list2">
				<div class="main-r-c-a"><span>{{ls.fileTitle}}</span><!--<span class="lecture-btn" ng-click="">上课</span>--><a class="btn btn-primary btn-xs" style="margin-left: 5px;" ng-click="goLecture(ls.fileList[0].fileId)">上课</a></div>
				<div class="main-r-time">作者：kenzo &nbsp;&nbsp;&nbsp;备课时间：{{ls.createTime|date:'yyyy-MM-dd HH:mm:ss'}} </div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
<script>
    $(function(){
        var h=$(document).height();
        $('#index').height(h-100);
        $(document).on("click", ".parent-node", function () {
            var ul = $(this).next('ul');
            if (ul.hasClass("close-node")) {
                ul.removeClass('close-node').addClass("open-node");
            } else {
                ul.removeClass('open-node').addClass("close-node");
            }
        });
	});
</script>
	<!--提交动画-->
	<div id="waitfor">
		<div class="spinner">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>
	</div>
	<style>
		#waitfor{
			width: 100%;
			height: 100%;
			background:rgba(0,0,0,.6);
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
			display: none;
		}
		.spinner {
			margin: 100px auto;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 60px;
			height: 60px;
			margin-top: -30px;
			margin-left: -30px;
		}

		.container1 > div, .container2 > div, .container3 > div {
			width: 10px;
			height: 10px;
			background-color:#67CF22;

			border-radius: 100%;
			position: absolute;
			-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
			animation: bouncedelay 1.2s infinite ease-in-out;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}

		.spinner .spinner-container {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.container2 {
			-webkit-transform: rotateZ(45deg);
			transform: rotateZ(45deg);
		}

		.container3 {
			-webkit-transform: rotateZ(90deg);
			transform: rotateZ(90deg);
		}

		.circle1 { top: 0; left: 0; }
		.circle2 { top: 0; right: 0; }
		.circle3 { right: 0; bottom: 0; }
		.circle4 { left: 0; bottom: 0; }

		.container2 .circle1 {
			-webkit-animation-delay: -1.1s;
			animation-delay: -1.1s;
		}

		.container3 .circle1 {
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
		}

		.container1 .circle2 {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}

		.container2 .circle2 {
			-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
		}

		.container3 .circle2 {
			-webkit-animation-delay: -0.7s;
			animation-delay: -0.7s;
		}

		.container1 .circle3 {
			-webkit-animation-delay: -0.6s;
			animation-delay: -0.6s;
		}

		.container2 .circle3 {
			-webkit-animation-delay: -0.5s;
			animation-delay: -0.5s;
		}

		.container3 .circle3 {
			-webkit-animation-delay: -0.4s;
			animation-delay: -0.4s;
		}

		.container1 .circle4 {
			-webkit-animation-delay: -0.3s;
			animation-delay: -0.3s;
		}

		.container2 .circle4 {
			-webkit-animation-delay: -0.2s;
			animation-delay: -0.2s;
		}

		.container3 .circle4 {
			-webkit-animation-delay: -0.1s;
			animation-delay: -0.1s;
		}

		@-webkit-keyframes bouncedelay {
			0%, 80%, 100% { -webkit-transform: scale(0.0) }
			40% { -webkit-transform: scale(1.0) }
		}

		@keyframes bouncedelay {
			0%, 80%, 100% {
				transform: scale(0.0);
				-webkit-transform: scale(0.0);
			} 40% {
				  transform: scale(1.0);
				  -webkit-transform: scale(1.0);
			  }
		}
	</style>