header {
    border-bottom: none;
    background: #E13F2A;
    i {
        font-size: .533333rem /* 40/75 */ !important;
    }
    .scan {
        margin-right: .4rem /* 30/75 */;
    }
}

.userInfo {
    background: #E13F2A;
    margin-top: -0.026667rem /* 2/75 */;
    padding: .266667rem /* 20/75 */;
    padding-left: .4rem /* 30/75 */;
    color: #fff;
    font-size: .426667rem /* 32/75 */;
    .userImg {
        float: left;
        width: 1.6rem /* 120/75 */;
        height: 1.6rem /* 120/75 */;
        img {
            border-radius: 100%;
            width: 100%;
            height: 100%;
        }
    }
    .userRight {
        overflow: hidden;
        padding-left: .4rem /* 30/75 */;
        .hasLogin {
            display: none;            
            .userName {
                float: left;
            }
            .desc {
                margin-top: .266667rem /* 20/75 */;
            }
            .userRank {
                padding: 0 .186667rem /* 14/75 */;
                margin-left: .266667rem /* 20/75 */;
                background: #fff000;
                color: #e13f2a;
                border-radius: .266667rem /* 20/75 */;
                font-size: .32rem /* 24/75 */;
                position: relative;
                top: -0.053333rem /* 4/75 */;
            }
        }
        .noLogin {
            padding: .466667rem /* 35/75 */ 0;
        }
        
    }
}

.navTop {
    margin-top: .266667rem /* 20/75 */;
    .nav {
        width: 25%;
        float: left;
        text-align: center;
        box-sizing: border-box;
        a {
            display: inline-block;
            width: 100%;
        }
        i {
            color: #E13F2A;
            font-size: 1.066667rem /* 80/75 */;
        }
        .title {
            font-size: .48rem /* 36/75 */;
        }
    }
    .nav.second {
        display: none;
        margin-top: .266667rem /* 20/75 */;
    }
}

.borderTop {
    margin-top: .2rem/* 15/75 */;
}

.subNav {
    .nav{
        display: block;
        margin: 0 .266667rem /* 20/75 */;
        padding: .266667rem /* 20/75 */ 0;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
        i {
            color: #E13F2A;
            font-size: .933333rem /* 70/75 */;
        }
        .title {
            margin-left: .4rem /* 30/75 */;
            font-size: .48rem /* 36/75 */;
            display: inline-block;
            position: relative;
            top: -0.186667rem /* 14/75 */;
        }

        i.right {
            position: relative;
            top: .16rem /* 12/75 */;
            color: #000;
            font-size: .533333rem /* 40/75 */;
            transform: rotate(-180deg);
        }
    }
}