@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("../iconFont/iconfont.eot");
  src: url("../iconFont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconFont/iconfont.woff") format("woff"), url("../iconFont/iconfont.ttf") format("truetype"), url("../iconFont/iconfont.svg#iconfont") format("svg");
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: snone;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.42667rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.share-edit {
  background-color: transparent !important;
  background-image: url("../images/edit.png") !important;
}

.share-delete {
  background-image: url(../images/delete.png) !important;
  background-color: transparent !important;
}

a[href] {
  color: #000;
}

a:visited, a:hover, a:active, a:visited {
  text-decoration: none !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  text-align: center;
}

.clear::after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.wrapper.hidden {
  height: 100vh;
  overflow: hidden;
}

.borderTop {
  height: 0.34667rem;
  width: 100%;
  background: #f1f1f1;
  display: inline-block;
}

header {
  height: 1.06667rem;
  background: #E13F2A;
  color: #fff;
  line-height: 1.06667rem;
  font-size: 0.48rem;
  padding: 0 0.4rem !important;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 99;
}

header + section,
header + div {
  margin-top: 1.06667rem !important;
}

header .back {
  display: inline-block;
}

header .title {
  text-indent: 0.26667rem;
}

header .centerTitle {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .centerTitle2 {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 0.4rem;
}

header.lcr {
  text-align: center;
}

.noData {
  font-size: 0.48rem;
  text-align: center;
  margin-top: 1.33333rem;
  display: none;
}

.noData .iconfont {
  font-size: 1.33333rem;
  margin-bottom: 0.53333rem;
}

/**
 * 共用样式
 * ACTIVITY - index.html
 * ACTIVITY - searchResult
 */
.body {
  padding: 0.13333rem 0.53333rem;
}

.body .bodyTop .title {
  font-size: 0.42667rem;
}

.body .bodyMain {
  padding-top: 0.4rem;
}

.body .bodyMain .project:not(:last-of-type) {
  margin-bottom: 0.53333rem;
}

.body .bodyMain .project {
  display: none;
}

.body .bodyMain .project .pImg {
  width: 2rem;
  height: 2rem;
  float: left;
}

.body .bodyMain .project .pImg img {
  width: 100%;
  height: 100%;
}

.body .bodyMain .project .pDesc {
  line-height: 0.66667rem;
  padding-left: 2.3rem;
}

.body .bodyMain .project .pDesc h3, .body .bodyMain .project .pDesc p, .body .bodyMain .project .pDesc span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body .bodyMain .project .pDesc h3 {
  font-size: 0.4rem;
  font-weight: bold;
}

.body .bodyMain .project .pDesc p {
  font-size: 0.37333rem;
}

.body .bodyMain .project .pDesc p .pStatus {
  float: right;
  color: #e57b34;
}

/**
 * 共用样式
 * ACTIVITY - activityDeatail
 * ACTIVITY - createActivity
 * LINELEARN - createActivity
 */
.confirmApply {
  background: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
}

.confirmApply .banner {
  color: #FE5C34;
  font-size: 0.37333rem;
  background: #F2F2F2;
  padding: 0.26667rem 0.53333rem;
}

.important {
  font-size: 0.4rem;
  color: red;
}

.formContainer {
  padding: 0 0.53333rem;
}

.formContainer .tip {
  font-size: 0.34667rem;
  margin-top: 0.53333rem;
  margin-bottom: 0.53333rem;
}

.formContainer label {
  font-size: 0.42667rem;
  display: block;
}

.formContainer input, .formContainer textarea, .formContainer select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.26667rem 0.13333rem;
  margin-top: 0.26667rem;
  margin-bottom: 0.26667rem;
  width: 100%;
  background: #fff;
}

.formContainer input[type=radio] {
  width: auto;
  margin: 0;
  padding: 0.13333rem;
}

.formContainer .uploadContainer {
  margin-top: 0.26667rem;
  margin-bottom: 0.26667rem;
}

.formContainer .uploadContainer .uploadTarget {
  position: relative;
}

.formContainer .uploadContainer .closed {
  position: absolute;
  right: -2px;
  top: -2px;
  transform: scale(0.8);
}

.formContainer .radioContainer {
  margin-top: 0.26667rem;
  margin-bottom: 0.26667rem;
  display: inline-block;
}

.formContainer .radioContainer:not(:last-of-type) {
  margin-right: 0.26667rem;
}

.formContainer .submit {
  width: 100%;
  background: #E13F2A;
  border: none;
  outline: none;
  height: 1rem;
  display: inline-block;
  color: #fff;
  font-size: 0.37333rem;
  margin-bottom: 0.26667rem;
}

/**
 * 共用样式
 * LINELEARN - createActivity
 * LINELEARN - uploadRecord
 * 
 */
.uploadContainer {
  display: inline-block;
}

.uploadContainer div {
  border: 1px solid #ccc;
  float: left;
}

.uploadContainer div:not(:last-of-type) {
  margin-right: 0.2rem;
}

.uploadContainer .uploadImg,
.uploadContainer .uploadVideo {
  width: 1.86667rem;
  height: 1.86667rem;
  margin-bottom: 0.26667rem;
}

.uploadContainer .uploadImg img,
.uploadContainer .uploadVideo img {
  width: 100%;
  height: 100%;
}

.uploadContainer .uploadVideo {
  text-align: center;
  background: #b3b3b3;
}

.uploadContainer .uploadVideo i {
  color: #fff;
  line-height: 1.86667rem;
  font-size: 0.93333rem;
}

.uploadContainer .uploadAdd {
  padding: 0.53333rem;
}

.uploadContainer .uploadAdd .add {
  width: 0.8rem;
  height: 0.8rem;
  background: url("../../public/images/add.png") no-repeat;
  background-size: 100%;
}

.uploadContainer input {
  height: 0;
  width: 0;
  display: none;
}

/**
 * 共用样式
 * ACTIVITY - myactivity
 * ACTIVITY - activityManage
 * ACTIVITY - reviewUser
 * 
 */
.tabNav {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  top: 1.06667rem;
  left: 0;
}

.tabNav .tabNav-slide {
  text-align: center;
  font-size: 0.42667rem;
  padding: 0.4rem;
  box-sizing: border-box;
  flex: 1;
}

.tabNav .tabNav-slide.actived {
  color: #E13F2A;
  border-bottom: 1px solid #E13F2A;
}

.tabNav + div,
.tabNav + section {
  padding-top: 1.4rem;
}

#swiperBody .swiper-wrapper .swiper-slide {
  font-size: 0.42667rem;
}

#swiperNav {
  height: calc(100vh - 1.4rem /* 105/75 */ - 1.066667rem);
}

.swiper-slide,
.swiper-wrapper {
  height: auto;
}

.swiper-slide-active {
  overflow-y: auto;
}
