.header {
  height: 1.17333333rem;
  width: 100%;
  align-items: center;
  line-height: 1.17333333rem;
  position: relative;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #f23a3a;
  .quit {
    position: absolute;
    left: 5%;
    width: 10%;
  }
}
.bodies{
  font-size: 16px;
  font-family: "微软雅黑";
  text-align: center;
  padding: 0.233rem 0.666666rem;
  >div{
    display: flex;
  }
  .b_theme{
    align-items: center;
    height:1.73333333rem;
    display: flex;
  }
  .b_label{
    width: 18%;
    text-align: left;
  }
  .b_input{
    border-radius: 0.106666rem;
    font-size: 14px;
    padding: .106666666rem 0.32rem;
    width: 70%;
  }
  .b_textarea{
    margin-left: 0.2rem;
    border-radius:0.106666rem;
    width: 93%;
  }
  .main{
    flex-direction: column;
  }
  .b_phone{
    padding: 0 .2rem;
    .add_btn,.add_phone{
      width: 1.866666666rem;
      text-align: center;
      border: 1px solid #969896;
      height: 1.866666666rem;
    }
    .add_btn{
      line-height: 1.866666666rem;
      font-size: 40px;
      color:#969896;
      border: 1px solid #969896;
    }
    .add_phone{
      position: relative;
      z-index: 11;
      margin-right: 0.333333rem;
    }
    .add_img{
      display: block;
      position: absolute;
      right:-10px;
      z-index: 99999;
      top:-10px;
      font-size: 19px;
    }
  }
  .b_btn{
    height: 1.06666666667rem;
    width: 100%;
    line-height:1.06666666667rem;
    display: flex;
    justify-content: center;
    background-color: #f23a3a;
    color:#ffff00;
    border-radius:0.106666rem;
  }
}
.m_t_20{
  margin-top: 0.5333333rem;
}
.m_t_40{
  margin-top:1.066666667rem;
}