<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传题目</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <script src="./js/jquery-3.1.1.min.js"></script> -->
    <link rel="stylesheet" href="/css/re_public.css">
    <link rel="stylesheet" href="/css/re_upfile_timu_add.css">
<!-- </head>
<body style="background-color: #ECEAEB;" ng-app="myApp" ng-controller="retimuaddctr"> -->
<div style="background-color: #ECEAEB;">
<div class="re_upfile_top">
    <span class="top-return" onclick="javascript:history.go(-1);"></span>
    上传题目
</div>
<div class="timu">
    <div class="timu_left">
        <div class="timu_left_top pl20">
            <i class="timu_left_flag"></i><a href="###">首页</a> > <a href="###">资源库</a> > <a href="###">上传资源</a> > <a href="###">上传题目</a>
        </div>
        <div class="timu_left_content">
            <div class="timu_left_type timu_left_block">
                <ul>
                    <li>题型：
                        <select  onchange="angular.element(this).scope().swTiType(this.value)">
                            <option value="1">单选题</option>
                            <option value="2">多选题</option>
                            <option value="3">判断题</option>
                            <option value="4">填空题</option>
                            <option value="5">回答题</option>
                            <option value="6">综合题</option>
                        </select>
                    </li>
                    <li>难度：
                        <select>
                            <option value="全部">全部</option>
                            <option value="简单">简单</option>
                            <option value="容易">容易</option>
                            <option value="困难">困难</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="timu_left_block">
                <ul>
                    <li class="timu_flag_name"><span class="cred">*</span> 题干内容：</li>
                    <li class="timu_flag_content">
                        <div id="timu_tigan_con" class="timu_tigan_con" contenteditable="true"></div>
                    </li>
                </ul>
            </div>
            <div ng-if="(titype==1)" class="timu_left_block">
                <ul>
                    <li class="timu_flag_name"><span class="cred">*</span> 答案选项：</li>
                    <li class="timu_flag_content">
                        <div class="timu_left_timuoptt">&nbsp;<button>添加选项</button></div>
                        <ul>
                            <li><i class="del_f"></i>A、<input class="timu_optt_input" type="text" contenteditable="true"><label class="radiostyle_y" for="r_a"></label><input type="radio" name="timuoptt" id="r_a"><span>正确答案</span> </li>
                            <li><i class="del_f"></i>B、<input class="timu_optt_input" type="text"><label class="radiostyle_n" for="r_b"></label><input type="radio" name="timuoptt" id="r_b"> </li>
                            <li><i class="del_f"></i>C、<input class="timu_optt_input" type="text"><label class="radiostyle_n" for="r_c"></label><input type="radio" name="timuoptt" id="r_c"> </li>
                            <li><i class="del_f"></i>D、<input class="timu_optt_input" type="text"><label class="radiostyle_n" for="r_d"></label><input type="radio" name="timuoptt" id="r_d"></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ng-if="(titype==2)" class="timu_left_block">
                <ul>
                    <li class="timu_flag_name"><span class="cred">*</span> 答案选项：</li>
                    <li class="timu_flag_content">
                        <div class="timu_left_timuoptt">&nbsp;<button>添加选项</button></div>
                        <ul>
                            <li><i class="del_f"></i>A、<input class="timu_optt_input" type="text"><label class="radiostyle_y" for="r_a"></label><input type="radio" name="timuoptt" id="r_a"><span>正确答案</span> </li>
                            <li><i class="del_f"></i>B、<input class="timu_optt_input" type="text"><label class="radiostyle_n" for="r_b"></label><input type="radio" name="timuoptt" id="r_b"> </li>
                            <li><i class="del_f"></i>C、<input class="timu_optt_input" type="text"><label class="radiostyle_n" for="r_c"></label><input type="radio" name="timuoptt" id="r_c"> </li>
                            <li><i class="del_f"></i>D、<input class="timu_optt_input" type="text"><label class="radiostyle_n" for="r_d"></label><input type="radio" name="timuoptt" id="r_d"></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ng-if="(titype==3)" class="timu_left_block">
                <ul>
                    <li class="timu_flag_name"><span class="cred">*</span> 答案选项：</li>
                    <li class="timu_flag_content">
                        <ul>
                            <li style="height: 30px;"></li>
                            <li>A、<input type="text" value="对"><label class="radiostyle_y" for="r_a"></label><input type="checkbox" name="timuoptt" id="r_a"><span>正确答案</span> </li>
                            <li>B、<input type="text" value="错"><label class="radiostyle_n" for="r_b"></label><input type="checkbox" name="timuoptt" id="r_b"> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ng-if="(titype==4)" class="timu_left_block">
                <ul>
                    <li class="timu_flag_name"><span class="cred">*</span> 答案选项：</li>
                    <li class="timu_flag_content">
                        <div class="timu_left_timuoptt"><button>添加填空</button></div>
                        <ul>
                            <li><i class="del_f"></i>1、<input class="timu_optt_input" type="text"></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div ng-show="(titype>=5)" class="timu_left_block">
                <ul>
                    <li class="timu_flag_name">答案：</li>
                    <li class="timu_flag_content">
                        <ul>
                            <li>
                                <div ng-click="setCkeditor()" id="timu_tigan_answer" class="timu_tigan_con" contenteditable="true"></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="timu_left_analysis timu_left_block">
                <ul>
                    <li class="timu_flag_name">答案解析：</li>
                    <li class="timu_flag_content">
                        <div id="timu_tigan_analysis" class="timu_tigan_con" contenteditable="true"></div>
                    </li>
                </ul>
            </div>

            <div class="timu_left_protocol timu_left_block">
                <ul>
                    <li class="timu_flag_name"></li>
                    <li class="timu_flag_content"><input type="checkbox">我已阅读 <a href="###">《资源上传服务条款》</a></li>
                </ul>
            </div>
            <div class="timu_submit timu_left_block" disabled="true">
                确定上传题目
            </div>
        </div>
    </div>
    <div class="timu_right">
        <div class="timu_right_top">
           <i class="timu_right_addr"></i> 教材：{{grade_name}}{{subject_name}} 下册 <span>切换教材</span>
        </div>
        <div class="timu_right_content">
            <div class="timu_r_title">
                章节内容
            </div>
            <div class="timu_r_list">
                <ul>
                    <li ng-repeat="s in section" id="secionlist{{s.id}}" ng-click="setSection(s.id)" ng-class="section_id==s.id?'timu_list_curr':''">{{s.name}}<i class="up"></i>
                        <ul class="timu_r_plist">

                        </ul>
                    </li>

                    <!--<li>第一单元 数一数<i class="down"></i>
                        <ul class="timu_r_plist">
                            <li>知识点一：认识数字</li>
                            <li>知识点二：比一比大小</li>
                            <li>知识点三：认识数字</li>
                            <li>知识点四：比一比大小</li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<!--切换教材-->
<div id="timu_show_teaching" class="p_dig">
    <div class="p_dig_content">
        <div class="p_head">选择教材<span class="p_head_colse"><img src="/images/re/icon_guanbi.png" /></span></div>
        <div class="p_sw_material_content">
            <div class="p_sw_material_block">
                <h2>级别</h2>
                <ul>
                    <li><span ng-repeat="c in grade" ng-click="setGrade(c.id,c.name)" ng-class="(c.id==grade_id)?'pc_list_act':''">{{c.name}}</span></li>
                </ul>
            </div>
            <div class="p_sw_material_block">
                <h2>科目</h2>
                <ul>
                    <li><span ng-repeat="s in subject" ng-click="setSubject(s.id,s.name)" ng-class="(s.id==subject_id)?'pc_list_act':''">{{s.name}}</span></li>
                </ul>
            </div>
            <!--<div class="p_sw_material_block">
                <h2>册数</h2>
                <ul>
                    <li><span ng-repeat="t in semester" ng-click="setSemester(t.id,t.name)" ng-class="(t.id==semester_id)?'pc_list_act':''">{{t.name}}</span></li>
                </ul>
            </div>-->
            <div class="p_sw_material_block">
                <h2>版本</h2>
                <ul>
                    <li><span ng-repeat="v in version" ng-click="setVersion(v.id)" ng-class="(v.id==version_id)?'pc_list_act':''">{{v.name}}</span></li>
                </ul>
            </div>
        </div>
        <div class="p_timu_confirm" ng-click="materialSubmit()">确定</div>
    </div>
</div>
</div>

<!-- <script src="./js/angular.min.js"></script>
<script type="text/javascript" src="/js/jmeditor/JMEditor.js"></script>
<script src="./js/retimuaddctr.js"></script>
<script src="./js/retimuadd.js"></script>
<script src="./js/alert.js"></script>

<script>
    //jQuery.myalert('dfsdsfd');
</script>
</body>
</html> -->