<div class="row">
  <img class="img" (click)="onclick('一卡通充值平台');" src="../../assets/images/banner.jpg" >
</div>
<div class="row " >
  <div class="col-xs-6">
    <img class="img" (click)="onclick('我要充值');"  src="../../assets/images/wycz.jpg">
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-12">
        <img class="img" (click)="onclick('充值记录');"  src="../../assets/images/czjl.jpg">
      </div>
    </div>
    <div class="row " >
      <div class="col-xs-12" >
        <img class="img" style="padding-top: 2%;" (click)="onclick('消费记录');"  src="../../assets/images/xfjl.jpg">
      </div>

    </div>
  </div>
</div>