.header {
  .quit {
    position: absolute;
    left: 5%;
    width: 10%;
  }
}
.bodies {
  display: none;
  background-color: #ffffff;
  margin-top: 0.6rem;
  font-size: 14px;
  .personage {
    display: flex;
    .photo {
      width: 50%;
      padding-top: 0.5rem;
      display: flex;
      border-radius: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      img {
        border-radius: 50%;
        width: 1.333333rem;
        height: 1.333333rem;
        display: block;
        background-color: #66afe9;
      }
      span {
        padding-top: 0.3rem;
        font-size: 16px;
      }
    }
    .details {
      width: 60%;
      p {
        line-height: 0.66rem;
      }
      .section {
        margin-top: 0.1rem;
      }
    }
  }
  .flow {
    margin-top: 1rem;
    .flowtitle {
      font-size: 17px;
      color: #444;
      font-weight: 600;
    }
    .firstflow, .lastflow {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .flowphoto {
        height: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        border-radius: 50%;
        position: relative;
        .flowborder {
          position: absolute;
          width: 1px;
          height: 0.8rem;
          top: 0;
          left: 50%;
          z-index: 2;
          background-color: #999;
        }
        img {
          width: 0.7333333rem;
          height: 0.7333333rem;
          border-radius: 50%;
          background: #66afe9;
          z-index: 100;
        }
      }
      .flowname {
        width: 55%;
      }
      .flowtime {
        width: 30%;
      }
    }
    .firstflow {
      .flowborder {
        top: 0.8rem !important;
        height: 0.8rem;
      }
    }
    .lastflow {
      .flowborder {
        top: 0 !important;
        height: 1.6rem !important;
      }
    }
  }
  .now{
    div:last-child .flowborder{
      top:0 !important;
      height: 0.8rem !important;
    }
  }
}
.footer {
  display: none;
  font-size: 18px;
  margin-bottom: 1rem;
  .select {
    display: flex;
    width: 8.14rem;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 0 auto;
    > a {
      color: #353535;
      flex: 1;
      text-align: center;
      position: relative;
      .border {
        position: absolute;
        width: 1px;
        height: 0.4rem;
        background-color: #777;
        top: 0.6rem;
        right: 0;
      }
    }
  }
  .repeal_btn {
    margin: 0 auto;
    width: 8.14rem;
    height: 1.066666rem;
    line-height: 1.066666rem;
    text-align: center;
    color: #fefefe;
    background-color: #e13f2a;
  }
}
.nothing {
  display: none;
}
.loading {
  display: block;
  text-align: center;
}